# This is a compose.yml file. This allows us to run this application pretty easily on the server in a container.
# The docker file allows us to build the application and run it in a container.
services:
  app:
    build: .
    depends_on:
      - postgres
    # Todo: Finish this
    ports:
      - 8080:8080
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: