/* Setup webpage formatting */
body {
    margin: 0;  /* attempt at making formating more standardised */
    display: flex;  /* I love flex */
    flex-direction: column;  /* sorts divisions above each other (aka how the homepage works) */
    height: 100vh; /* full screen height */
}

/* setup formatting for tag types */
/* paragraph font stuff */
p { 
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

/* Headers */
H1, H2, H3 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* buttons */
button {
    padding: 5px;
    border-radius: 15px;
}

/* hyperlinks*/
a {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: rgb(244, 188, 119) !important; /* !important makes the style actually work */
    text-decoration: none !important;
    text-shadow: 1px 1px 1px #999;
}

 /* a:hover allows us to change the style when moused over */
a:hover {
    color:darkseagreen !important;
    text-shadow: 1px 1px 1px darkseagreen;
}

/* try every center case and one should hopefully work */
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Allows formatting specifically for navbar */
.index-navbar {
    display: flex;
    align-items: center; /* vertically align h1 and links */
    justify-content: space-between; /* puts space between h1 and links */
    flex: 1;  /* assigns less space to this box 1:5 */
    margin: 20px;  /* distance from wall */
}

/* lets us make specific changes to just the contents of the navbar */
.index-navbar-links {
    display: flex; /* makes the divisions flexible and is how they're aligned together */
    flex: 5; /* gives this division more space in topbar 5:1 */
    gap: 15px; /* creates space between objects */
    align-items: center; /* duh */
    justify-content: flex-end; /* places the links at the end of the division (right) */
}

.navbar-links > a {
    padding-right: 18px;
}

/* the object that the navbar is flex-ending */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* the object that the navbar is flex-ending */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* full height makes formatting work with the entire screen */
    width: 100vw;
}

.heading {
    text-align: center;
}

/* the space for the page contents underneath the base page */
.page_content { /*  */
    height: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

/* formating for goal cards on main page */
.dbitem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.dbitem > div {
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    height: 100%;
}

/* individual card formating */
.card {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20%; margin-right: 20%;
}

/* hold info for data creation */
@media (max-width: 800px) {
    .card {
        margin-left: 5%; margin-right: 5%;
    }
}

.past-date {
    color: red;
    font-weight: bold;
}
/* navigation bar overlayed on top of the webpage using base.html */
.base-nav {
    align-items: center;
    height: 15%;
    background-color: #888;
    color: white;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* change the buttons in the navbar specifically */
.base-nav > button {
    align-items: center; 
    border: 1px solid black;
    height: 100%;
    border-radius: unset;
}

.base-nav > button:hover {
    background-color:#666;
}

.base-nav > button:active {
    transform: scale(0.98);
}

.base-nav > button.selected {
    background-color:#444;
    border-bottom: 3px solid #f4bc77;
}

/* the body of the landing page */
.index-navbar {
    padding: 20px;
    margin: 0px;
    height: 20%;
    background-color: #888;
    color: white;
}

.index-custom-body {
    display: flex; /* I love flex */
    overflow: hidden;  /* We don't want people scrolling on a landing page */
    height: 100%; /* take up the rest of the page in space */
    justify-content: center; /* center the text horizontally */
    padding-bottom: 20px; /* get some distance so it doesn't look like a footer */
    align-items: last baseline;
}

.index-custom-body-container {
    display: flex; /* flex is a lifestyle */
    flex-direction: column;
    text-align: center;
    
}

.custom-body {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
}

/* formatting for the login/register pages */
/* container so I can center */
.logincontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* box styling */
.loginbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    color: white;
    background-color: #999;
    border-radius: 10px; /* rounded corners :) */
}

/* text shadow for visibility */
.loginbox > H1, .loginbox > p {
    text-shadow: 2px 2px 2px #666;
}

/* Modals */
/* from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* own code */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

/* formatting for stage section in goal creator */
.stageContainer {
    display: flex; /* I could write a romance novel about flex display mode */
    flex-direction: column;
    gap: 10px;
    padding-left: 20%;
    padding-right: 20%;
}
/* Holds user information creating stages */
@media (max-width: 800px) {
    .stageContainer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.error {
    background-color: red;
    font-weight: bold;
    text-align: center;
    border: 1px black solid;
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    
}