/* Make website look good (hopefully) */
body {
    overflow: hidden;  /* No scrolling */
    margin: 0;  /* attempt at making formating more standardised */
    display: flex;  /* I love flex */
    flex-direction: column;  /* sorts divisions above each other (aka how the homepage works) */
    height: 100vh; /* full screen height */
}

/* make stuff look nice */
p {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

H1, H2, H3, H4, H5, H6 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

a {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: rgb(244, 188, 119) !important;
    text-decoration: none !important;
}

 /* a:hover allows us to change the style when moused over */
a:hover {
    color:darkseagreen !important;
}

/* try every center case and one should hopefully work */
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Allows formatting specifically for navbar */
.index-navbar {
    display: flex;
    align-items: center; /* vertically align h1 and links */
    justify-content: space-between; /* puts space between h1 and links */
    flex: 1;  /* assigns less space to this box 1:5 */
    margin: 20px;  /* distance from wall */
}

/* lets us make specific changes to just the contents of the navbar */
.index-navbar-links {
    display: flex; /* makes the divisions flexible and is how they're aligned together */
    flex: 5; /* gives this division more space in topbar 5:1 */
    gap: 8px; /* creates space between objects */
    align-items: center; /* duh */
    justify-content: flex-end; /* places the links at the end of the division (right) */
}

.navbar-links a {
    padding-right: 18px; /* looks nice ig */
}

/* the object that the navbar is flex-ending */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.heading {
    text-align: center;

}

/* the space for the page contents underneath the base page */
.page_content {
    height: 100%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

/* 3grid layout for dashboard items */
.dbitem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.dbitem > div {
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    height: 100%;
}

.card {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20%; margin-right: 20%;
}

@media (max-width: 800px) {
    .card {
        margin-left: 5%; margin-right: 5%;
    }
}

.past-date {
    color: red;
    font-weight: bold;
}
/* navigation bar overlayed on top of the webpage using base.html */
.base-nav {
    align-items: center;
    height: 15%;
    background-color: #888; /* Example color */
    color: white;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.base-nav > button {
    align-items: center;
    border: 1px solid black;
    height: 100%;
}

.base-nav > button:hover {
    background-color:#666;
}

.base-nav > button:active {
    transform: scale(0.98);
}

.base-nav > button.selected {
    background-color:#444;
    border-bottom: 3px solid #f4bc77;
}

/* the body of the homepage */
.index-custom-body {
    display: flex; /* my beloved */
    overflow: hidden;  /* We don't want people scrolling on a landing page */
    height: 100%; /* take up the rest of the page in space */
    justify-content: center; /* center the text horizontally */
    padding-bottom: 20px; /* get some distance so it doesn't look like a footer */
}

.custom-body {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
}

.logincontainer {
    display: flex;
    justify-content: center;
    height: 100%;
}

.loginbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 15%;
    color: white;
    background-color: blue;
    border-radius: 30px;
}