<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <div class="logincontainer">
        <div class="loginbox">
            <h1>Login</h1>
            <form method="POST">
                <p>Username/Email</p>
                <input type="text" name="Username">
                <p>Password</p>
                <input type="password" name="Password">
            </form>
            <br>
            <p >Don't have a password?</p>
            <a href="/accounts/register">Sign Up</a>
        </div>
    </div>
</body>
