<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Base Template{% endblock %}</title>
        <!--Imports-->
        {% block imports %}{% endblock %}
        <link rel="stylesheet" href="/static/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class="navbar">   
            <h1>JCI (Just Checking In)</h1>
            
            <div class="navbar-links">
                <a href="#">Example 1</a>
                <a href="#">Example 2</a>
                <a href="#">Example 3</a>
            </div>
        </div>

        <div class='custom-body'>
        {% block body %}{% endblock %}
        </div>
    </body>
</html>