{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block imports %}
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="navbar">   
            <h1>JCI (Just Checking In)</h1>
            
            <div class="navbar-links">
                <a href="#">Example 1</a>
                <a href="#">Example 2</a>
                <a href="#">Example 3</a>
            </div>
        </div>

        <div class='custom-body'>
        <p style="margin: 10px; text-align: center;">
            hey, this is just a little website with a goal of helping people maintain their goals, these goals could be mental, physical, anything really. Feel free to 
            <a href="/create-an-account">create an account</a>
            and try it out
        </p>

        </div>




    </div>
{% endblock %}