{% extends "misc_base.html" %}

{% block title %}Tasks{% endblock %}

{% block heading %}<h1>Tasks (<a href="/my/tasks?filter=all">All</a>)</h1>{% endblock %}

{% block imports %}
<script defer>
document.addEventListener("DOMContentLoaded", function() {
    const errorblock = document.querySelector(".error");
    const errorpara = errorblock.querySelector("p");
    const params = new URLSearchParams(window.location.search);
    if (params.has("error")) {
        errorpara.textContent = params.get("error");
        errorblock.hidden = false;
    }
});
</script>
{% endblock %}

{% block body %}
<div class="error" hidden>
    <p></p>
</div><br>
{% if not tasks %}
<p>No tasks for today. Try clicking "all" to see all your tasks.</p>
{% endif %}
<br><br>
{% for task in tasks %}
<div class="card {% if task[6] == "complete" %}complete{% elif task[6] == "skipped" %}skipped{% else %}incomplete{% endif %}">
    <p><b>{{ task[2] }} - {% if task[6] == "complete" %}Completed{% elif task[6] == "skipped" %}Skipped{% else %}Incomplete{% endif %}</b></p>
    <p>{{ task[3] }}</p>
    <p>Due: <time datetime="{{ task[5].isoformat() }}"></time></p>
    {% if task[6] == "incomplete" %}
    <div style="display: flex; justify-content: center; flex-direction: row; gap: 10px; flex-wrap: wrap;">
        <button onclick="document.location.href = '/my/tasks/{{ task[0] }}/skip'" {% if not task[7] %}disabled{% endif %}>Skip</button>
        <button onclick="document.location.href = '/my/tasks/{{ task[0] }}/complete'">Complete</button>
    </div>
    {% endif %}
    <br>
</div><br>
{% endfor %}
{% endblock %}